/* font */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

/* Global variables */
:root {
  --input-nonselect: hsl(206, 94%, 87%);
  --input-select: hsl(354, 84%, 57%);
  --text-color: hsl(228, 100%, 84%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --btn-bg: hsl(213, 96%, 18%);
  --White-bg: hsl(0, 0%, 100%);
  --Alabaster: hsl(231, 100%, 99%);
  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
}

/* General body styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  user-select: none;
}

body {
  background-color: var(--text-color);
}
/* General body */
.contents {
  /* margin: auto; */
  border-radius: 8px;
  padding: 30px;
  background-color: var(--Alabaster);
  cursor: pointer;
}
.opts {
  padding: 10px 0;
}
.select--options {
  color: var(--White-bg);
  background-image: url(/assets/images/bg-sidebar-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5px;
}
/* General */
.hidden {
  display: none;
}
.split {
  display: flex;
  justify-content: space-around;
}

/* common classes */
.btn--nxt,
.btn--prev,
.confirm {
  background-color: var(--btn-bg);
  padding: 2px 5px;
  color: var(--White-bg);
  border-radius: 5px;
  outline: none;
}

/* left hand side */
.ls--view {
  display: block;
  font-size: 16px;
  margin-left: 20px;
}

.ls--word {
  margin-left: 6px;
}

/* section 1 */
.form--input {
  display: block;
  position: relative;
  bottom: 5px;
  padding: 3px;
  margin-bottom: 8px;
  width: 75%;
  border-radius: 8px;
  border: 2px solid var(--input-nonselect);
  transition: 0.5s;
  outline: none;
}

.form--input:focus {
  width: 80%;
  border: 2px solid hsl(354, 84%, 57%);
}

.form--input::placeholder {
  padding: 10px;
}

.btn {
  position: relative;
  margin: 10px;
  left: 80%;
}
/* section 2 */
.option--plan {
  padding: 10px;
  /* height: 7rem; */
  width: 30%;
  border: 1px solid var(--input-nonselect);
  border-radius: 7px;
}
.img--plan {
  display: block;
  width: 30%;
  margin-bottom: 20px;
}
.btns {
  display: flex;
  justify-content: space-between;
}
.bold--text {
  font-size: 14px;
  font-weight: 800px;
}
.light--text {
  font-size: 11px;
}
i {
  font-size: 18px;
  color: var(--btn-bg);
  /* padding: 0 20px; */
}

.no--pg {
  position: relative;
  left: 30%;
  display: inline;
  margin: auto;
}
.option--basis {
  position: relative;
  left: 0;
  background-color: var(--Light-gray);
  padding: 2px 5px;
  margin: 15px 0;
  width: 75%;
  border-radius: 4px;
}
.active--sec2,
.active--sec3 {
  background-color: var(--text-color);
  border: 2px solid var(--Purplish-blue);
}

/* section 3 */
.checkbox,
.price {
  position: relative;
  top: 15px;
}
.words {
  /* position: relative;
  bottom: 5px; */
  display: block;
  font-size: 13px;
}
.add-ons__design {
  padding: 10px;
  margin: 8px;
  border: 2px solid var(--input-nonselect);
  border-radius: 8px;
}
/* section 3 ends */

/* section 4 begins */
.sec--4--content {
  border-radius: 6px;
  border: 2px solid var(--input-nonselect);
  margin-bottom: 10px;
}
.price--no {
  padding-left: 30px;
  text-align: end;
}

@media screen and (max-width: 750px) {
  .select--options {
    height: 47rem;
    background-image: url(/assets/images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
  }

  .option--basis {
    padding: 5px 3px;
    padding-left: 0;
    width: 95%;
  }

  .form--input {
    width: 85%;
  }
  .form--input:focus {
    width: 90%;
  }

  .price {
    right: 10px;
  }
}
